
.loader {
	padding: 100px;
	position: fixed;  
	left: 0px;
  	top: 0px;
  	width: 100%;
  	height: 100%;
  	z-index: 9999;
  	display: flex;
	align-items: center;
	justify-content: center;
}

.loader .loader-item {
	color: #fff;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	align-items: center;
	justify-content: center;
	width: 450px;
	height: 250px;
	padding: 50px;
	background-color: #000;
}

/*.modal {
	padding: 100px;
	position: fixed;  
	left: 0px;
  	top: 0px;
  	width: 100%;
  	height: 100%;
  	z-index: 9999;
  	display: flex;
	align-items: center;
	justify-content: center;
}*/

.box {
  width: 100%;
  height: 160px;
  margin: auto;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}


.box .desc {
  color: #fff;
  font-size: 2.5em;
  position: absolute;
  bottom: 45px;
  left: 10px;
}


.box .title {
  color: #fff;
  font-size: 1em;
  position: absolute;
  bottom: 30px;
  left: 10px;
}

.box i {
  color:rgba(0, 0 ,0 , 0.15);
  font-size:7em;
  position: absolute;
  bottom: 10px;
  right: 30px;
  z-index: 2;
}

.box i:hover {
	font-size: 8em
}

.box .info {
  background-color: #000;
  width: 100%;
  display: block;
  opacity: 0.3;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #fff;
}